/*

!/.gitignore
!/experiments/
!/experiments/**
!/src/
/src/*
!/src/adaptive_fast_lio2/
!/src/adaptive_fast_lio2/**
!/src/FAST_LIO/
!/src/FAST_LIO/**

build/
install/
log/
Log/
PCD/
bag/

__pycache__/
*.py[cod]
*.so

.vscode/
.idea/

*.bag
*.db3
*.mcap
*.pcd
